/* CSS RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* CUSTOM PROPERTIES */
:root {
    --header-color: #0084fd;
    --primary-color: #9792e4;
    --secondary-color: #b5ddff;
    --important-color: #fdc15f;
    --footer-color: #333333;
    --px-sm: 20px;
    --px-ms: 40px;
    --font-size-sm: 16px;
}

/* UTILITY */
.container {
    width: 100%;
    margin: 0 auto;
    padding: 0px var(--px-ms);
}

body {
    font-family: 'PT Sans', sans-serif;
}

.d-flex {
    display: flex;
}

ul li {
    list-style-type: none;
    color: #fff;
    padding: 0px var(--px-sm);
    font-size: var(--font-size-sm);
    font-family: 'Open Sans', sans-serif;
}

section {
    padding: var(--px-ms) 0px;
}

h1, h2, h3, p {
    padding: var(--px-sm) 0px;
}

a {
    text-decoration: none;
    color: #fff;
}

/* HEADER */
header {
    height: 80px;
    background-color: var(--header-color);
    position: fixed;
    width: 100%;
}

.head-menu {
    justify-content: space-between;
    align-items: center;
}

a.btn-start {
    color: black;
    background-color: #fff;
    border-radius: 25px;
    padding: 10px 15px;
}

.open-menu {
    display: none;
}

/* MAIN */
main {
    padding-top: 80px;
}

/* SPECS SECTION */
.specs {
    height: 100%;
}

.row {
    flex-wrap: wrap;
    gap: 30px;
}

.card {
    min-height: 300px;
    background-color: var(--secondary-color);
    border-radius: 25px;
    flex-basis: 100%;
}

/* STRATEGY SECTION */
.strategy {
    height: 100%;
    background-color: var(--primary-color);
    align-items: center;
}

/* PARTNER SECTION */
.partner .container {
    text-align: center;
    flex-direction: column;
}

.partner .card {
    background-color: var(--primary-color);
}

/* BENEFIT SECTION */
.benefit {
    height: 100%;
    background-color: var(--primary-color);
}

.benefit .card {
    background-color: white;
}

.benefit .container {
    text-align: center;
}

/* ABOUT SECTION */
.about {
    height: 100%;
}

/* TRY SECTION */
.try {
    text-align: center;
    height: 100%;
    background-color: var(--primary-color);
    color: #fff;
}

.try .container {
    width: 100%;
}

/* FOOTER */
footer {
    color: #fff;
    height: 100%;
    background-color: var(--footer-color);
}

footer .container {
    width: 100%;
}

/*****************************/
/*      RESPONSIVE PART      */
/*****************************/

/* SCREEN @768x */
@media screen and (min-width: 768px) {

    .container {
        width: 740px;
    }
    
    .specs .card:first-of-type {
        flex-basis: calc(((100% /3) * 2) - 10px);
    }

    .card {
        flex-basis: calc((100% / 3) - 20px);
    }

    .specs {
        height: calc(100vh - 80px);
    }

    /* Strategy section @768px */
    .strategy {
        height: calc(100vh - 80px);
    }

    .strategy .card {
        flex-basis: calc((100% / 2) - 20px);
    }

    /* Partner section @768px */
    .partner .container {
        text-align: center;
        flex-direction: column;
    }

    .partner .card {
        flex-basis: 100%;
    }

    /* Benefit section @768px */
    .benefit .card {
        flex-basis: calc((100% / 2) - 20px);
    }

    /* About section @768px */
    .about {
        height: calc(100vh - 80px);
    }

    .about .card {
        flex-basis: calc((100% / 2) - 20px);
    }

    /* Try section @768px */
    .try .container {
        width: 500px;
    }

    /* Footer section @768px */
    footer .container {
        width: 500px;
    }
    
}
/* SCREEN #992px */
@media screen and (min-width: 992px) {

    .container {
        width: 970px;
    }

    .open-menu {
        display: initial;
    }

    .hamburger {
        display: none;
    }
    /* Benefit section 992px */
    .benefit .card {
        flex-basis: calc((100% / 3) - 20px);
    }

    /* About section 992px */
}