/* CSS RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* CUSTOM PROPERTIES */
:root {
    --header-color: #0084fd;
    --primary-color: #9792e4;
    --secondary-color: #b5ddff;
    --important-color: #fdc15f;
    --footer-color: #333333;
    --text-color-gray: #475764;
    --px-sm: 20px;
    --px-ms: 40px;
    --font-size-sm: 16px;
    --font-size-lg: 40px;
}

/* UTILITY */
.container {
    width: 100%;
    margin: 0 auto;
    padding: 0px var(--px-ms);
}

body {
    font-family: 'PT Sans', sans-serif;
}

.d-flex {
    display: flex;
}

ul li {
    list-style-type: none;
    color: #fff;
    padding: 0px var(--px-sm);
    font-size: var(--font-size-sm);
    font-family: 'Open Sans', sans-serif;
}

section {
    padding: var(--px-ms) 0px;
}

h1, h2, h3, p {
    padding: var(--px-sm) 0px;
}

a {
    text-decoration: none;
    color: #fff;
}

/* HEADER */
header {
    height: 80px;
    background-color: var(--header-color);
    position: fixed;
    width: 100%;
}

.head-menu {
    justify-content: space-between;
    align-items: center;
}

a.btn-start {
    color: black;
    background-color: #fff;
    border-radius: 25px;
    padding: 10px 15px;
}

.btn-blue {
    background-color: var(--header-color);
    color: #fff;
    padding: 10px 40px;
    border-radius: 25px;
    display: block;
    width: fit-content;
}

.btn-round {
    color: black;
    background-color: var(--primary-color);
    border-radius: 50%;
    padding: 10px;
}

.btn-purple {
    background-color: var(--primary-color);
    color: #fff;
    border-radius: 25px;
    padding: 10px 15px;
}

.open-menu {
    display: none;
}

/* MAIN */
main {
    padding-top: 80px;
}

/* SPECS SECTION */
.specs {
    height: 100%;
}
.specs div {
    text-align: center;
}

.specs h1 {
    font-size: var(--font-size-lg);
}

.specs h1, h2 {
    color: var(--header-color);
}

.row {
    flex-wrap: wrap;
    gap: 30px;
}

.card {
    min-height: 300px;
    background-color: var(--secondary-color);
    border-radius: 25px;
    flex-basis: 100%;
    padding: 10px 15px 0px 15px;
}

.card div {
    width: 100%;
    text-align: left;
}

.big-card img {
    max-width: 100%;
    display: block;
}

.picture {
    padding-top: 10px;
}

.big-card h2 {
    color: var(--header-color);
}


/* STRATEGY SECTION */
.strategy {
    height: 100%;
    background-color: var(--primary-color);
    align-items: center;
}

.strategy-card-1 {
    background: none;
    color: #fff;
}

.strategy-box {
    padding: 0px 80px;
}

.strategy-box .card:last-child {
    text-align: center;
    padding: 40px;
    background-color: white;
}

.strategy-card-1 h2 {
    color: #fff;
}

.strategy-card-1 > img {
    width: 100%;
    padding-bottom: 40px;
}

.strategy-card-2 h2 {
    color: currentColor;
}

.strategy-card-2 > img {
    width: 100%;
}

/* PARTNER SECTION */
.partner .container {
    text-align: center;
    flex-direction: column;
}

.partner .card {
    background-color: var(--primary-color);
}

.partner-card {
    display: block;
}

.partner-card > div {
    text-align: center;
    color: #fff;
}

.partner-card img {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    object-fit: cover;
}

/* BENEFIT SECTION */
.benefit {
    height: 100%;
    background-color: var(--primary-color);
}

.benefit .card {
    background-color: white;
}

.benefit-cards {
    text-align: left;
    padding: 40px;
}

.benefit-cards h1, h3 {
    color: var(--primary-color);
}

.benefit .container {
    text-align: center;
}

/* ABOUT SECTION */
.about {
    height: 100%;
}

/* TRY SECTION */
.try {
    text-align: center;
    height: 100%;
    background-color: var(--primary-color);
    color: #fff;
}

.try .container {
    width: 100%;
}

/* FOOTER */
footer {
    color: #fff;
    height: 100%;
    background-color: var(--footer-color);
}

footer .container {
    width: 100%;
}

/*****************************/
/*      RESPONSIVE PART      */
/*****************************/

/* SCREEN @768px */
@media screen and (min-width: 768px) {

    .container {
        width: 740px;
    }
    
    .specs .card:first-of-type {
        flex-basis: calc(((100% /3) * 2) - 10px);
    }

    .card:not(.strategy-card-1, .strategy-card-2){
        flex-basis: calc((100% / 3) - 20px);
    }
    /* Strategy section @768px */

    /* Partner section @768px */
    .partner .container {
        text-align: center;
        flex-direction: column;
    }

    .partner .card {
        flex-basis: 100%;
    }

    .partner-card {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    .partner-card > div {
        text-align: left;
    }

    /* Benefit section @768px */
    .benefit .card {
        flex-basis: calc((100% / 2) - 20px);
    }

    /* About section @768px */
    .about {
        height: calc(100vh - 80px);
    }

    .about .card {
        flex-basis: calc((100% / 2) - 20px);
    }

    /* Try section @768px */
    .try .container {
        width: 500px;
    }

    /* Footer section @768px */
    footer .container {
        width: 500px;
    }
    
}
/* SCREEN #992px */
@media screen and (min-width: 992px) {

    .container {
        width: 970px;
    }

    .open-menu {
        display: initial;
    }

    .hamburger {
        display: none;
    }

    /* Specs section @992px */
    .specs {
        height: calc(100vh - 80px);
    }
    
    .card div {
        flex-basis: 50%;
        text-align: left;
    }

    .card.big-card {
        display: flex;
        flex-wrap: wrap;
    }

    /* Benefit section 992px */
    .benefit .card {
        flex-basis: calc((100% / 3) - 20px);
    }

    /* Strategy section @992px */
    .strategy-box .card:last-child {
        align-self: flex-end;
    }

    .strategy {
        height: calc(100vh - 80px);
    }

    .strategy .card {
        flex-basis: calc((100% / 2) - 20px);
    }

    .strategy-card-2 > img {
        width: 50%;
    }

}
    /* About section 992px */
